body {
    font-family: Arial, sans-serif;
  }
  
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"]:active {
    background-color: #3e8e41;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .done {
    text-decoration: line-through;
  }
  
  @media (max-width: 600px) {
    form {
      flex-direction: column;
      align-items: flex-start;
    }
  
    input[type="text"] {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 300px) {
    input[type="text"] {
      font-size: 14px;
    }
  
    button[type="submit"] {
      padding: 5px 10px;
    }
  }
  